/* ==========================================================================
    Hero
========================================================================== */

.hero__container {
  overflow: hidden;
  position: relative;

  @include below($medium) {
    height: 60vh;
  }

  @include above($medium) {
    height: 100vh;
  }
}

// Image

.hero__image {
  display: block;
  width: 100%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.hero__image-overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background: linear-gradient(
  //                180deg,
  //                rgba($colour-secondary-dark, 0.4),
  //                rgba($colour-primary-darker, 0.4)
  //);
  background-color: rgba($colour-secondary-dark, 0.4);
  mix-blend-mode: multiply;

  @include below($medium) {
    height: 60vh;
  }

  @include above($medium) {
    height: 100vh;
  }
}

// Logo

.hero__logo {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: gutter(2);
  left: gutter(2);
  background: rgba($colour-secondary-dark, 0.6);
  border-radius: 300px;
}

// Languages

.hero__languages {
  display: flex;
  position: absolute;
  top: gutter(2);
  right: gutter(2);

  & .link-button:first-child {
    margin-right: gutter(1);
  }
}

// Menu

.hero__menu {
  position: absolute;
  top: 7%;
  right: 20%;
  width: 60%;
  padding: 50px 50px 50px;
  //background-color: rgba($colour-black, 0.4);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-radius: 200px;

  span, h1, p {
    color: $colour-white;
  }
}


// Title

.hero__heading-wrapper {
  visibility: hidden;
  background-color: rgba($colour-white, 0.6);
  padding: gutter(8) gutter(5);
  border-radius: $border-radius;
  width: 100%;
}

.hero__title {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 60%;
  //width: 50%;
  //color: white;
  color: $colour-black;
  text-align: center;
  //text-shadow: 0px 0px 10px $colour-grey-dark;
  transform: translateX(-50%);
}

.hero__heading {
  font-family: "American Typewriter", "Roboto Slab", serif;
  font-weight: normal;
  font-size: 7rem;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 0px 15px rgba($colour-black, 0.8);
}

.hero__subheading {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  margin: 0;
  margin-top: 1em;
  text-align: center;
  text-shadow: 0px 0px 15px rgba($colour-black, 0.8);
}

.hero__bottom {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 1.5;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  color: $colour-black;
  width: 70%;
  text-shadow: 0px 0px 15px rgba($colour-white, 0.9);
}

// Buttons

.hero__buttons {
  position: absolute;
  bottom: 62%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.hero__button {
  background-color: $colour-primary-darker;
  color: $colour-white;
  padding-left: gutter(5);
  padding-right: gutter(5);
  border-radius: 200px;
  box-shadow: 0px 0px 15px 0px rgba($colour-black, 0.9);

  &:first-child {
    margin-right: gutter(2.5);
  }
}
