/* ==========================================================================
    Variables
========================================================================== */

/*  Gutters
========================================================================== */

$gutter: 0.8rem;

/*  Colours
========================================================================== */

$colour-primary: #ffe36d;
$colour-primary-dark: #c7a000;
$colour-primary-darker: #9b7c00;
$colour-primary-bright: #ffce00;

$colour-secondary: #8c3545;
$colour-secondary-dark: #57202a;
$colour-secondary-light: #e6a570;
$colour-secondary-grey: #302224;

$colour-white: #fffffd;
$colour-grey-superlight: #f0f0ea;
$colour-grey-light: #b1ad9f;
$colour-grey-medium: #5a555c;
$colour-grey-dark: #434044;
$colour-black: #231f25;

/*  Border Radius
========================================================================== */

$border-radius: 3px;

/*  Default Font Size
========================================================================== */

$default-font-size: 1.6rem;

/*  Responsive Breakpoints
========================================================================== */

$xxsmall: 375px;
$xsmall: 480px;
$small: 600px;
$medium: 768px;
$large: 960px;
$xlarge: 1024px;
$xxlarge: 1200px;
