/* ==========================================================================
    Index Page
========================================================================== */

/*  Section
========================================================================== */

.section {
  background-color: $colour-white;
  padding-top: gutter(8);
  padding-bottom: gutter(10);

  @include above($small) {
    text-align: justify;
  }

  @include responsive-gutters;

  & > * {
    @include clamped-width;
  }

  &--about {
    padding-top: gutter(6);
  }

  &--biruta {
    background-color: $colour-primary;
    color: $colour-black;

    // experiment
    background-color: lighten($colour-primary, 5%);
  }

  &--masazas-navigation {
    padding-bottom: gutter(10);
    background-color: $colour-secondary-grey;
  }

  &--masazas {
    background-color: $colour-grey-superlight;
  }

  &--contact-us {
    background-color: $colour-secondary-light;
    color: $colour-black;

    // experiment
    background-color: $colour-grey-superlight;
  }
}

// Section heading

.section__heading {
  margin-bottom: gutter(5);
  color: $colour-black;
  border-bottom: 2px solid $colour-black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;

  &--light {
    color: $colour-primary-dark;
    border-color: $colour-primary-dark;
  }

  &--large-margin {
    margin-bottom: gutter(8);
  }
}

// Section subheading

.section__subheading {
  text-align: center;
  margin-bottom: gutter(3);
  color: $colour-secondary-dark;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

// Section massage description

.section__massage-description {
  margin-bottom: gutter(8);
}

// Section image

.section__image {
  width: 100%;
  border-radius: $border-radius;
}

/*  Quote
========================================================================== */

.about__quote {
  margin-bottom: gutter(3);
}

.biruta__quote {
  background-color: $colour-secondary-light;
  color: $colour-grey-dark;
}

.massages__quote {
  @include above($small) {
    max-width: 800px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: gutter(2) gutter(3);
  background-color: $colour-grey-dark;
  color: $colour-grey-light;
  font-size: responsive(14, 18);
  font-weight: 400;
  text-align: left;
}

/*  Quick Actions
========================================================================== */

.quick-actions {
  @include parallax-gap;
}

/*  Contact Strip - Make Appointment
========================================================================== */

.contact-strip--make-appointment {
  @include parallax-gap;
}

/*  Reviews
========================================================================== */

.reviews {
  @include parallax-gap;
}

/*  Contact Us
========================================================================== */

.contact-us__columns {
  @include below($medium) {
    flex-direction: column-reverse;
  }
}

.contact-us__contacts {
  padding: gutter(5) gutter(3) gutter(3);
  background-color: lighten($colour-secondary-light, 15%);
  border-radius: $border-radius;

  .contact-us__link:first-of-type {
    margin-bottom: gutter(1);
  }
}

.contact-us__link {
  display: flex;
  align-items: center;
  color: $colour-secondary-dark;
  font-family: "Courier New", Courier, "Roboto Slab", serif;
  font-size: responsive(19, 26);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.contact-us__icon {
  width: 26px;
  height: 26px;
}

.contact-us__company-details {
  margin-top: gutter(2);
  color: $colour-grey-medium;
  font-size: responsive(14, 17);

  p {
    margin: 0;
  }
}

.contact-us__addresses {
  margin-top: gutter(2);

  @include below($medium) {
    margin-bottom: gutter(1);
  }

  @include between($xsmall, $medium) {
    display: flex;
  }
}

.contact-us__address {
  position: relative;
  width: 100%;
  margin-bottom: gutter(2);
  padding: gutter(3);
  background-color: lighten($colour-secondary-light, 7%);
  border-radius: $border-radius;
  font-size: responsive(17, 21);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    width: 180px;
    height: 180px;
    background-image: url("../images/location-pin.svg");
    opacity: 0.5;
    transform: translateX(20%);
  }

  @include between($xsmall, $medium) {
    .contact-us__addresses &:first-of-type {
      margin-right: gutter(2);
    }
  }
}

.address__line {
  position: relative;
  margin: 0;
  z-index: 5;
}

.contact-us__additional-info {
  p:first-child {
    font-size: responsive(16, 18);

    @include below($medium) {
      margin-top: 0;
    }
  }

  p:last-child {
    font-size: responsive(14, 16);
  }
}
