/* ==========================================================================
    Button
========================================================================== */

.button {
  @extend %button;

  border: none;
  box-shadow: none;
  cursor: pointer;

  &--dark {
    background-color: $colour-secondary-dark;
    color: $colour-primary-dark;
  }

  &--gold {
    background-color: $colour-primary-dark;
  }
}
