.hero__image-container {
  overflow: hidden;
  padding-top: -50vh;
  height: 50vh;
  position: relative;
}

.hero__image {
  display: block;
  width: 100%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

nav {
  padding: 2rem 2rem;
  background-color: $colour-secondary-dark;
  color: $colour-grey-light;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba($colour-grey-dark, 0.5);
  position: relative;
  z-index: 5;
}

.colour {
  width: 100%;
  min-height: 200px;
}

.colour1 {
  background-color: $colour-primary;
  color: $colour-black;
  font-size: 1.6rem;
}

.colour2 {
  background-color: $colour-secondary;
  color: $colour-white;
  font-size: 1.6rem;
}

.colour3 {
  background-color: $colour-secondary-dark;
  color: $colour-white;
  font-size: 1.6rem;
}

.colour4 {
  background-color: $colour-secondary-light;
  color: $colour-black;
  font-size: 1.6rem;
}

.colour5 {
  background-color: $colour-tertiary;
  color: $colour-black;
  font-size: 1.6rem;
}

.colour6 {
  background-color: $colour-white;
}

.colour7 {
  background-color: $colour-grey-dark;
}

.colour8 {
  background-color: $colour-black;
}

.colour9 {
  background-color: $colour-grey-light;
}

.quote {
  margin: 0 gutter(4) gutter(4);
  padding: gutter(2);
  background-color: $colour-primary;
  color: $colour-secondary;
  border-radius: 3px;
}

.button {
  background-color: $colour-secondary;
  box-shadow: none;
  border: none;
  color: $colour-grey-light;
  padding: gutter(2);
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 3px;

  &--dark {
    background-color: $colour-secondary-dark;
    color: $colour-grey-light;
  }
}
