.hero__image-container {
  overflow: hidden;
  padding-top: -50vh;
  height: 50vh;
  position: relative;
}

.hero__image {
  display: block;
  width: 100%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.hero__image-overlay {
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  // background: linear-gradient(
  //   90deg,
  //   rgba($colour-primary, 0.3),
  //   rgba($colour-secondary, 0.3)
  // );
}

nav {
  padding: 2rem 2rem;
  color: $colour-primary-dark;
  background-color: $colour-secondary-dark;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba($colour-grey-dark, 0.5);
  position: relative;
  z-index: 5;
}

.colour {
  width: 100%;
  min-height: 200px;
  background-color: $colour-white;
}

.quote {
  margin: 0 gutter(4) gutter(4);
  padding: gutter(2);
  background-color: $colour-primary;
  color: $colour-primary-dark;
  border-radius: 3px;
}

.button {
  background-color: $colour-secondary;
  box-shadow: none;
  border: none;
  color: $colour-white;
  padding: gutter(2);
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 3px;

  &--dark {
    background-color: $colour-secondary-dark;
    color: $colour-primary-dark;
  }

  &--gold {
    background-color: $colour-primary-dark;
    color: $colour-white;
  }
}
