/* ==========================================================================
    Link Button
========================================================================== */

.link-button {
  @extend %button;

  text-decoration: none;

  &--dark {
    background-color: $colour-secondary-dark;
    color: $colour-primary-dark;
  }

  &--gold {
    background-color: $colour-primary-dark;
  }

  &--tiny {
    padding: gutter(1) gutter(1.5);
  }
}
