/* ==========================================================================
    Navigation
========================================================================== */

.navigation {
  position: sticky;
  top: 0;
  color: $colour-primary-dark;
  background-color: $colour-secondary-dark;
  box-shadow: 0px 0px 15px 0px rgba($colour-grey-dark, 0.5);
  font-family: "Courier New", Courier, "Roboto Slab", serif;
  font-size: responsive(16, 22);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 5;

  @include responsive-gutters;
}

// Container

.navigation__container {
  display: flex;
  justify-content: space-between;

  @include clamped-width;
}

// Links and Contacts

.navigation__links,
.navigation__contacts {
  display: flex;
  list-style-type: none;
}

.navigation__contacts {
  align-items: center;
  font-size: responsive(14, 17);
}

.navigation__link {
  display: block;
  padding: 3rem 2rem;

  .navigation__contacts & {
    display: flex;
    align-items: center;
    padding: 3rem 1.4rem;
  }

  .navigation__links li:first-child & {
    padding-left: 0;
  }

  .navigation__contacts li:first-child & {
    padding-left: 2rem;
  }

  .navigation__contacts li:last-child & {
    padding-right: 0;
  }
}
