/* ==========================================================================
    Partials
========================================================================== */

/*  Button
========================================================================== */

%button {
  background-color: $colour-secondary;
  color: $colour-white;
  padding: gutter(2) gutter(2.5);
  display: block;
  margin: 0 auto;
  border-radius: $border-radius;
  font-family: "Courier New", Courier, "Roboto Slab", serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
