/* ==========================================================================
    Quote
========================================================================== */

.quote {
  padding: gutter(2);
  background-color: $colour-primary;
  color: $colour-primary-dark;
  border-radius: 3px;
  font-family: "Roboto Slab", "Palatino", "Georgia", serif;
  font-size: 1.8rem;
  font-weight: 600;
}
