/* ==========================================================================
    Partials
========================================================================== */

/*  Button
========================================================================== */

%button {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  padding: gutter(2.5) gutter(3.5);
  background-color: $colour-secondary;
  color: $colour-white;
  border-radius: $border-radius;
  font-family: "Courier New", Courier, "Roboto Slab", serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
