/* ==========================================================================
    Parallax
========================================================================== */

.parallax__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: 0 0;
}

.parallax__static {
  position: relative;
}

.parallax__image {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transform-origin: 0 0;
  position: fixed;
  margin-top: -70vh;
  opacity: 0;

  &--about {
    background-image: linear-gradient(
        180deg,
        rgba($colour-primary, 0.6),
        rgba($colour-secondary, 0.6)
      ),
      url("../images/par-mums.jpg");
    background-blend-mode: hard-light;
    transform: translateZ(-3px) translateX(-60%) scale(5.2);
    z-index: -10;
  }

  &--masazas {
    background-image: linear-gradient(
        180deg,
        rgba($colour-primary, 0.5),
        rgba($colour-secondary, 0.5)
      ),
      url("../images/masazas-galds.jpg");
    background-blend-mode: hard-light;
    transform: translateZ(-2px) translateX(-20%) scale(3.6);
    z-index: -10;
  }

  &--biruta {
    background-image: linear-gradient(
        180deg,
        rgba($colour-primary, 0.5),
        rgba($colour-secondary, 0.5)
      ),
      url("../images/ba-salons-galds.jpg");
    background-blend-mode: soft-light;
    transform: translateZ(-2px) translateX(-25%) translateY(-10%) scale(3.6);
    z-index: -10;
  }

  &--top {
    opacity: 1;
  }
}
