/* ==========================================================================
    Typography
========================================================================== */

/*  Font Imports
========================================================================== */

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab/RobotoSlab-Light.woff2") format("woff2"),
    url("./fonts/RobotoSlab/RobotoSlab-Light.woff") format("woff"),
    url("./fonts/RobotoSlab/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab/RobotoSlab-Regular.woff2") format("woff2"),
    url("./fonts/RobotoSlab/RobotoSlab-Regular.woff") format("woff"),
    url("./fonts/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab/RobotoSlab-SemiBold.woff2") format("woff2"),
    url("./fonts/RobotoSlab/RobotoSlab-SemiBold.woff") format("woff"),
    url("./fonts/RobotoSlab/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/*  Font Use
========================================================================== */

body {
  font-family: "Roboto Slab", "Palatino", "Georgia", serif;
  font-size: responsive(14, 18);
  color: $colour-grey-dark;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Courier New", Courier, "Roboto Slab", serif;
  text-transform: uppercase;
  text-align: center;
  color: $colour-black;
}

h1 {
  border-bottom: 2px solid $colour-black;
  margin: gutter(2) 0;
  font-size: 3.6rem;
}

p {
  text-align: justify;
  margin: 1rem 0;
}
