/* ==========================================================================
    Typography
========================================================================== */

/*  Font Imports
========================================================================== */

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab/RobotoSlab-Light.woff2") format("woff2"),
    url("./fonts/RobotoSlab/RobotoSlab-Light.woff") format("woff"),
    url("./fonts/RobotoSlab/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab/RobotoSlab-Regular.woff2") format("woff2"),
    url("./fonts/RobotoSlab/RobotoSlab-Regular.woff") format("woff"),
    url("./fonts/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./fonts/RobotoSlab/RobotoSlab-SemiBold.woff2") format("woff2"),
    url("./fonts/RobotoSlab/RobotoSlab-SemiBold.woff") format("woff"),
    url("./fonts/RobotoSlab/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "American Typewriter";
  src: url("./fonts/AmericanTypewriter/AmericanTypewriter.woff") format("woff"),
    url("./fonts/AmericanTypewriter/AmericanTypewriter.woff2") format("woff2"),
    url("./fonts/AmericanTypewriter/AmericanTypewriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Use
========================================================================== */

body {
  font-family: "Roboto Slab", "Palatino", "Georgia", serif;
  font-size: responsive(15, 20);
  line-height: 1.6;
  color: $colour-grey-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Courier New", Courier, "Roboto Slab", serif;
}

h1,
h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.7rem;
}

p {
  margin: 1em 0;
}

// List

.list__heading {
  margin-bottom: 0;
}

.list__content {
  margin-top: gutter(1);
  padding-left: gutter(2.25);

  &--circle {
    list-style-type: circle;
  }
}

.list__item {
  text-align: left;
  margin-bottom: gutter(1);

  .list-content &:last-child {
    margin-bottom: 0;
  }
}
