/* ==========================================================================
    Index Page
========================================================================== */

/*  Sections
========================================================================== */

.section {
  @include responsive-gutters;

  & > * {
    @include clamped-width;
  }

  &--about {
    background-color: $colour-white;
  }
}

.section__heading {
  margin: gutter(6) 0 gutter(5);
  color: $colour-black;
  border-bottom: 2px solid $colour-black;
  text-transform: uppercase;
  text-align: center;
}

/*  Quote
========================================================================== */

.about__quote {
  margin-bottom: gutter(3);
}
