/* ==========================================================================
    Index Page
========================================================================== */

/*  Section
========================================================================== */

.section {
  background-color: $colour-white;
  padding-top: gutter(8);
  padding-bottom: gutter(10);

  @include above($small) {
    text-align: justify;
  }

  @include responsive-gutters;

  & > * {
    @include clamped-width;
  }

  &--about {
    padding-top: gutter(6);
  }

  &--biruta {
    background-color: $colour-primary;
    color: $colour-black;

    @include parallax-gap;
  }

  &--masazas-navigation {
    padding-bottom: gutter(10);
    background-color: $colour-secondary-grey;
  }

  &--ajurvediskas-masazas {
    background-color: $colour-grey-superlight;
  }
}

// Section heading

.section__heading {
  margin-bottom: gutter(5);
  color: $colour-black;
  border-bottom: 2px solid $colour-black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;

  &--light {
    color: $colour-primary-dark;
    border-color: $colour-primary-dark;
  }

  &--large-margin {
    margin-bottom: gutter(8);
  }
}

// Section subheading

.section__subheading {
  text-align: center;
  margin-bottom: gutter(3);
  color: $colour-secondary-dark;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

// Section massage description

.section__massage-description {
  margin-bottom: gutter(8);
}

// Section image

.section__image {
  width: 100%;
  border-radius: $border-radius;
}

/*  Quote
========================================================================== */

.about__quote {
  margin-bottom: gutter(3);
}

.biruta__quote {
  background-color: $colour-secondary-light;
  color: $colour-grey-dark;
}

.massages__quote {
  @include above($small) {
    max-width: 800px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: gutter(2) gutter(3);
  background-color: $colour-grey-dark;
  color: $colour-grey-light;
  font-size: responsive(14, 18);
  font-weight: 400;
  text-align: left;
}

/*  Quick Actions
========================================================================== */

.quick-actions {
  @include parallax-gap;
}
