/* ==========================================================================
    Massage Links
========================================================================== */

.massage-links {
  display: flex;
  margin-top: gutter(8);
  margin-bottom: gutter(10);
}

// Card

.massage-links__card {
  width: 25%;
  margin: 0 gutter(2);
  padding: 0 0 gutter(4);
  border-radius: $border-radius;
  background-image: linear-gradient(
    90deg,
    rgba($colour-secondary, 0.4),
    rgba($colour-secondary-grey, 0.4)
  );
  color: $colour-primary-dark;
  font-family: "Courier New", Courier, "Roboto Slab", serif;
  font-size: 2.1rem;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0px 0px 0px 4px rgba($colour-primary-dark, 0.9);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

// Image

.massage-links__image-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 90%;
  margin-bottom: gutter(3);
  border: 4px solid rgba($colour-primary-dark, 0.9);
  border-bottom: 2px solid rgba($colour-primary-dark, 0.9);
  border-radius: $border-radius $border-radius 70% $border-radius;
  overflow: hidden;
}

.massage-links__image {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
  filter: sepia(0.3);
}

.massage-links__image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, $colour-primary, $colour-secondary);
  mix-blend-mode: soft-light;
}

// Text

.massage-links__text {
  padding: 0 gutter(1);
}

// Chevron down icon

.chevron-down {
  display: block;
  width: gutter(3);
  height: gutter(2);
  margin: gutter(2) auto 0;

  path {
    fill: currentColor;
  }
}
