/* ==========================================================================
    Massage
========================================================================== */

.massage {
  background-color: $colour-white;
  border-radius: $border-radius;

  @include below($medium) {
    margin-bottom: gutter(4);
  }

  @include above($medium) {
    margin-bottom: gutter(8);
  }
}

// Hero

.massage__hero {
  position: relative;
  border-radius: $border-radius $border-radius 200px 0;
  overflow: hidden;

  @include below($xsmall) {
    border-radius: 0;
  }

  @include below($medium) {
    padding-top: 27vh;
  }

  @include above($medium) {
    padding-top: 23vw;
  }
}

.massage-hero__image {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  &--mukhabhjanga {
    transform: translateX(-50%) translateY(-35%);
  }
}

.massage-hero__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba($colour-primary, 0.8),
    rgba($colour-secondary, 0.8)
  );
  mix-blend-mode: soft-light;
}

.massage-hero__heading {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
  background-color: rgba($colour-primary, 0.8);
  color: $colour-secondary-grey;
  text-align: left;
  font-size: responsive(20, 32);
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  white-space: pre;

  @include below($xsmall) {
    padding: gutter(1) gutter(2);
  }

  @include above($xsmall) {
    padding: gutter(1.5) gutter(16) gutter(1) gutter(5);
  }
}

// Content

// Content columns

.massage-content__columns {
  display: flex;

  @include below($medium) {
    flex-direction: column-reverse;
  }

  @include above($medium) {
    & .columns__column {
      width: 50%;
    }
  }
}

.massage-content__single-column {
  margin-top: 1em;

  @include below($xsmall) {
    padding: 0 gutter(3) gutter(2);
  }

  @include between($xsmall, $medium) {
    padding: 0 gutter(5) gutter(5);
  }

  @include above($medium) {
    padding-right: gutter(5);
  }
}

.massage__content {
  @include between($xsmall, $medium) {
    padding-top: gutter(3);
  }

  @include above($medium) {
    padding: gutter(5) 0 gutter(5) gutter(5);
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.massage-content__description {
  @include below($xsmall) {
    padding: gutter(3) gutter(2);
  }

  @include between($xsmall, $medium) {
    padding: gutter(4) gutter(5) 0;
  }
}

.massage-content__info-boxes {
  @include between($small, $medium) {
    display: flex;
  }
}

.massage-content__quote {
  color: $colour-primary-darker;
  font-size: responsive(16, 22);
  font-weight: 400;
  text-align: left;

  @include below($xsmall) {
    padding: gutter(2);
  }

  @include between($xsmall, $small) {
    margin-right: gutter(5);
    padding: gutter(3) gutter(5) gutter(3) gutter(5);
    border-radius: 0 $border-radius 0 0;
  }

  @include between($small, $medium) {
    display: flex;
    align-items: center;
    margin-right: gutter(3);
    padding: gutter(2.5) gutter(3) gutter(2.5) gutter(5);
    border-radius: 0 $border-radius $border-radius 0;
  }

  @include above($medium) {
    padding: gutter(4) gutter(5) gutter(4) gutter(4);
    border-radius: $border-radius 0 0 $border-radius;

    &--top-margin {
      margin-top: 2em;
    }
  }
}

.massage-content__rate {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-color: $colour-secondary-light;

  @include below($xsmall) {
    padding: gutter(2);
    justify-content: center;
  }

  @include between($xsmall, $small) {
    margin-right: gutter(5);
    padding: gutter(2.5) gutter(5) gutter(2.5) gutter(5);
    border-radius: 0 0 $border-radius 0;
  }

  @include above($small) {
    border-radius: $border-radius 0 0 $border-radius;
  }

  @include between($small, $medium) {
    padding: gutter(2.5) gutter(5) gutter(2.5) gutter(3);
  }

  @include above($medium) {
    margin-top: gutter(3);
    padding: gutter(3) gutter(5) gutter(3) gutter(4);
  }
}

.massage-rate {
  display: flex;
  align-items: center;
  color: $colour-grey-medium;
  font-size: responsive(13, 18);
  text-align: left;

  @include above($xsmall) {
    padding: gutter(1) 0;
  }

  .massage-content__rate &:first-child {
    @include below($small) {
      margin-right: gutter(4);
    }

    @include above($medium) {
      margin-right: gutter(4);
    }
  }
}

.massage-rate__time-icon,
.massage-rate__money-icon {
  flex-shrink: 0;
  margin-right: gutter(1);

  @include below($xsmall) {
    width: 24px;
    height: 24px;
  }

  @include above($xsmall) {
    width: 30px;
    height: 30px;
  }

  path {
    fill: currentColor;
  }
}

.massage-rate__time-icon {
  @include below($xsmall) {
    transform: translateY(-4px);
  }

  @include above($xsmall) {
    transform: translateY(-5px);
  }
}

.massage-rate__text {
  white-space: nowrap;
}
