/* ==========================================================================
    Mixins
========================================================================== */

/*  Media Queries
========================================================================== */

@mixin below($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin between($firstWidth, $secondWidth) {
  @media screen and (min-width: $firstWidth) and (max-width: $secondWidth) {
    @content;
  }
}

@mixin above($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

/*  Responsive Gutters
========================================================================== */

@mixin responsive-gutters {
  @include below($small) {
    padding-left: gutter(2);
    padding-right: gutter(2);
  }

  @include between($small, $large) {
    padding-left: gutter(4);
    padding-right: gutter(4);
  }

  @include above($large) {
    padding-left: gutter(10);
    padding-right: gutter(10);
  }
}

/*  Capped Width
========================================================================== */

@mixin capped-width {
  @include above($xxlarge) {
    max-width: $xxlarge;
    margin-left: auto;
    margin-right: auto;
  }
}
