//GUTTER
$gutter: 0.8rem;

//COLORS
$colour-primary: #ffe36d;

$colour-tertiary: #8c3545;
$colour-tertiary-dark: #57202a;

$colour-white: #fffffd;
$colour-grey-light: #b1ad9f;
$colour-grey-dark: #39373a;
$colour-black: #18131a;

// Paletton

$color-primary-0: #ffe36d; // Main Primary color */
$color-primary-1: #c7a000;
$color-primary-2: #ffce00;

// $color-secondary-1-0: #ffc46d; // Main Secondary color (1) */
// $color-secondary-1-1: #c77700;
// $color-secondary-1-2: #ff9900;
// $color-secondary-1-3: #b1aa9f;
// $color-secondary-1-4: #fffefd;

//FONT
$default-font-size: 1.6rem;
