//GUTTER
$gutter: 0.8rem;

// COLORS
$colour-primary: #ffe36d;

$colour-secondary: #8c2a3c;
$colour-secondary-light: #f7ac99;
$colour-secondary-dark: #401225;

$colour-tertiary: #bf923f;

$colour-white: #ebf2f1;
$colour-grey-light: #e2e7e7;
$colour-grey-dark: #39373a;
$colour-black: #18131a;

//FONT
$default-font-size: 1.6rem;
