/* ==========================================================================
    Variables
========================================================================== */

/*  Gutters
========================================================================== */

$gutter: 0.8rem;

/*  Colours
========================================================================== */

$colour-primary: #ffe36d;
$colour-primary-dark: #c7a000;
$colour-primary-bright: #ffce00;

$colour-secondary: #8c3545;
$colour-secondary-dark: #57202a;
$colour-secondary-light: #e68e9e;

$colour-white: #fffffd;
$colour-grey-light: #b1ad9f;
$colour-grey-dark: #39373a;
$colour-black: #231f25;

/*  Default Font Size
========================================================================== */

$default-font-size: 1.4rem;

/*  Responsive Breakpoints
========================================================================== */

$small: 600px;
$medium: 768px;
$large: 960px;
$xlarge: 1024px;
$xxlarge: 1200px;
