*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.hero__image-container {
  overflow: hidden;
  padding-top: -50vh;
  height: 50vh;
  position: relative; }

.hero__image {
  display: block;
  width: 100%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%; }

nav {
  padding: 2rem 2rem;
  background-color: #401225;
  color: #bf923f;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(57, 55, 58, 0.5);
  position: relative;
  z-index: 5; }

.colour {
  width: 100%;
  height: 200px; }

.colour1 {
  background-color: #ffe36d;
  color: #39373a;
  font-size: 1.6rem; }

.colour2 {
  background-color: #8c2a3c;
  color: #ebf2f1;
  font-size: 1.6rem; }

.colour3 {
  background-color: #401225;
  color: #ebf2f1;
  font-size: 1.6rem; }

.colour4 {
  background-color: #f7ac99;
  color: #18131a;
  font-size: 1.6rem; }

.colour5 {
  background-color: #bf923f;
  color: #18131a;
  font-size: 1.6rem; }

.colour6 {
  background-color: #ebf2f1; }

.colour7 {
  background-color: #39373a; }

.colour8 {
  background-color: #18131a; }

.colour9 {
  background-color: #e2e7e7; }
