@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,600,600i&display=swap&subset=cyrillic,latin-ext");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #39373a; }

body {
  font-family: "Merriweather", "Palatino", "Georgia", serif;
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  text-align: center;
  color: #18131a; }

h1 {
  border-bottom: 2px solid #18131a;
  margin: 1.6rem 3.2rem;
  font-size: 3.6rem; }

p {
  text-align: justify;
  margin: 1rem; }

nav {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-transform: uppercase; }

.quote {
  font-family: "Merriweather", "Palatino", "Georgia", serif;
  font-size: 1.8rem;
  font-weight: 600; }

.button {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase; }

.hero__image-container {
  overflow: hidden;
  padding-top: -50vh;
  height: 50vh;
  position: relative; }

.hero__image {
  display: block;
  width: 100%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%; }

nav {
  padding: 2rem 2rem;
  background-color: #401225;
  color: #e2e7e7;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: 0px 0px 15px 0px rgba(57, 55, 58, 0.5);
  position: relative;
  z-index: 5; }

.colour {
  width: 100%;
  min-height: 200px; }

.colour1 {
  background-color: #ffe36d;
  color: #18131a;
  font-size: 1.6rem; }

.colour2 {
  background-color: #8c2a3c;
  color: #ebf2f1;
  font-size: 1.6rem; }

.colour3 {
  background-color: #401225;
  color: #ebf2f1;
  font-size: 1.6rem; }

.colour4 {
  background-color: #f7ac99;
  color: #18131a;
  font-size: 1.6rem; }

.colour5 {
  background-color: #bf923f;
  color: #18131a;
  font-size: 1.6rem; }

.colour6 {
  background-color: #ebf2f1; }

.colour7 {
  background-color: #39373a; }

.colour8 {
  background-color: #18131a; }

.colour9 {
  background-color: #e2e7e7; }

.quote {
  margin: 0 3.2rem 3.2rem;
  padding: 1.6rem;
  background-color: #ffe36d;
  color: #8c2a3c;
  border-radius: 3px; }

.button {
  background-color: #8c2a3c;
  box-shadow: none;
  border: none;
  color: #e2e7e7;
  padding: 1.6rem;
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 3px; }
  .button--dark {
    background-color: #401225;
    color: #e2e7e7; }
